* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../src/assets/background.jpg');
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
}

.card {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    width: 450px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 1rem;
    box-shadow: 5px 2px #000000, 10px 4px #50da00,-5px -2px  #269bd1, -10px -4px  #9b26d1;
}

.card-img {
    width: 100%;
}

.NavBar {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    font-size: 1.5rem;
    width: 100%;
}

.NavBar a {
    margin: 1rem;
    font-weight: bolder;
    text-decoration: none;
}

.NavBar a:visited {
    color:aliceblue;
}

.NavBar a:hover {
    color: red;
}

.loading {
    font-size: 3rem;
    color: aliceblue;
    align-items: center;
    text-align: center;
    text-shadow: 5px 2px #000000, 10px 4px #50da00,-5px -2px  #269bd1, -10px -4px  #9b26d1;
}

.item-detail {
    display: flex;
    justify-content: center;
}

.divcontainer {
    border: 1px solid red;
    background-color: coral;
    border-radius: 10px;
    margin: 20px;
}

.item-dail__div {
    width: 450px;
    margin: 10px;
}

.item-detail__img {
    width: 100%;
}

.item-detail__container {
    margin-left: 1rem;
}
.icon {
    font-size: 2rem;
    margin: 1rem;
    font-weight: bolder;
    color:aliceblue;
}   
.icon:hover {
    color: red;
}
.ache3 {
    font-size: 4rem;
    color: aliceblue;
    text-shadow: 5px 2px #000000, 10px 4px #50da00,-5px -2px  #269bd1, -10px -4px  #9b26d1;
    letter-spacing: -5px;
}
.linkeado {
    text-decoration: none;
}